# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints

# Data and models
data/raw/
data/processed/
models/
*.pth
*.h5
*.ckpt

# Environment
.env
venv/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode
.vscode/
